.button-delete {
  height: 30px;
  font-size: 1.3em;
  display: flex;
  flex: 0.5;
  background-color: #ff6600;
  margin-top: 8px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #fff;
  border: 2px solid white;
  border-radius: 45px;
  cursor: pointer;
  user-select: none;
}

.button-delete:hover {
  background-color: #ebb000;
}
